
@mixin container-sizing() {
  padding: 50px 30px;

  @media (min-width: $screen-lg) {
    padding: 50px 75px;
  }
}

@mixin main-page-header(){
  color: $brand-primary;
  font-size: 40px;
  font-weight: 400;

  @media (min-width: $screen-lg) {
    line-height: 1;
  }
}

@mixin main-page-header-left-padding(){
  padding: 20px 50px;

  @media (min-width: $screen-lg) {
    padding-left: 75px;
  }

}

a {
  &:hover {
    color: $brand-primary;
  }
}
