.body-home {
  background-color: #fafafa;
  #main_navigation{
    background-color: #fafafa;


    @media (min-width: 823px) {
      background-color: rgba(255,255,255,0.8);
      //background: repeating-linear-gradient(45deg,  rgba(#fcfcfc, 0.9),  rgba(#fcfcfc, 0.9) 1px, rgba(#fcfcfc, 0.7) 2px, rgba(#fcfcfc, 0.7) 3px);
    }

    .navigation-links {
      background-color: #fafafa;

      @media (min-width: 823px) {
        background-color: transparent;
      }
    }
  }
}
@-webkit-keyframes move-bg-up {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 120px;
  }
}

