body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  text-shadow: rgba(0,0,0,.01) 0 0 1px;


  &.fixed-body {
    position: fixed;
  }

  > main {
    margin-top: 46px;

    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }
}
textarea:focus, input:focus, button:focus{
  outline: none;
}
.logo-txt {
  display: inline-block;
  text-align: right;
  text-decoration: none;
  height: 46px;
  vertical-align: middle;
  line-height: 46px;
  font-size: 26px;
  text-transform: capitalize;

  @media (min-width: 808px) {
      height: 65px;
      line-height: 65px;
      font-size: 28px;
  }

  .red{
    display: inline-block;
    color: $brand-primary;
    font-weight: 900;
  }

  .tutorial{
    display: inline-block;
    font-weight: 100;
    color: $text-color;

  }
}
