.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block !important;
}

.display-inline {
  display: inline;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.hidden {
  display: none !important;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.white-space-nowrap{
  white-space:nowrap;
}